doctype html
html
  head
    title WeKnow Test
    meta(charset='UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=0.9, maximum-scale=1.1")
    link(rel='stylesheet', type='text/css', href='app.css', media='all')
  body(ng-app='weknow-test', ng-controller="MainCtrl")
    div(ng-include="'/templates/layouts/header.html'")
    div.container(ui-view="")
  script(src='app.js', type='text/javascript')
